.profiles_card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  background-color: #25282b;
}

.profile-card{
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 200px;
  margin-right:3rem;
}

.profile_image-container{
  display: flex;
  height: 180px;
  width: 100%;
}

.homepage-link{
  height: 100%;
  width: 100%;
}

.profile-image{
  height: 180px;
  width: 100%;
  cursor: pointer;
}

.edit_profile-icon{
  position: relative;
  background-color: #171A21;
  border-radius: .3rem;
  top:140px;
  right: 20px;
  height: 50px;
  width: 50px;
}

.profile_title-container{
  display: flex;
  justify-content: center;
  margin-top:1rem;
  width: 100%;
}

.profile-title{
 font-size: 100%;
 color: #ffff;
 font-weight: bold;
 background-color: #171A21;
 border-radius: .2rem;
}

.add_profile_icon-container{
  height: 100px;
  width: 100px;
}

.add_profile-icon{
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.link-to-login{
  position: absolute;
  left: 0;
  top:10rem;
  height: 10%;
  width: 10%;
}

.back-arrow-image{

  height: 50%;
  width: 50%;
}